body {
  font-family: Open Sans, sans-serif;
}

.navbar-brand{
  font-family: Droid serif, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.top-section {
  background: #1abc9c;
}
.top-info h3 {
  color: #fff;
  font-size: 45px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  font-family: Open Sans Condensed, sans-serif;
  text-transform: uppercase;
  margin-top: 90px;
  font-weight: 10;
}
.top-info h3 span {
  font-size: 75px;
  display: block;
}
.top-info p {
  color: #fff;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
